[Unit]
Description=Bonfire social networking server
After=network.target postgresql.service meilisearch-__APP__.service
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/bin/bonfire start
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
